.container {
  text-align: center;
  margin: auto;
  width: 100%;
  
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #0A97B0;
}

h1 {
  margin: 30px;
  font-size: 8rem;
  color: #4ECCA3;
  font-family:monospace;
}

p {
  font-size: 2rem;
  font-family:monospace;
}

img {
  width: 80%;
}